---
import '../styles/global.css';
import '@fontsource/oswald/700.css'; // Жирный для заголовков
import '@fontsource/inter/400.css';  // Обычный текст
import '@fontsource/inter/600.css';  // Полужирный

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="cs" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script>
  import Lenis from 'lenis'

  const lenis = new Lenis({
    duration: 1.2, // Длительность инерции
    easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // Плавность
    smoothWheel: true,
  })

  function raf(time) {
    lenis.raf(time)
    requestAnimationFrame(raf)
  }

  requestAnimationFrame(raf)
</script>
	</body>
</html>